@model List<Gcp.Web.Models.Kurumlar>
@{
	Layout = null;
}

@foreach (var e in Model)
{
	<tr role="row" class="odd" data-id="@e.KurumID">
		<th class="control"></th>
		<td class="sorting_1">@e.KurumIsmi</td>
		<td class="desktop">@e.KurumAdresi</td>
		<td class="desktop">@e.TemsilciKisi</td>
		
		<td class="desktop">@e.TemsilciKisiNo</td>
		<td class="desktop">
			@if (@e.CalismaDurumu == true)
			{
				<label>Çalışılıyor</label>
			}
					
			@if (@e.CalismaDurumu == false || e.CalismaDurumu == null )
			{
				<label>Çalışılmıyor</label>
			}
		</td>
		<td style="display: none">@e.TemsilciKisiEmail</td>
		<td style="display: none">@e.VergiDairesi</td>
		<td style="display: none">@e.VergiNo</td>
		
		<td>

			<a data-toggle="modal" data-target="#guncelleKayit" onclick="getKurum(@e.KurumID)" class="btn btn-circle btn-icon-only btn-default">
				<i class="icon-pencil"></i>
			</a>
			<a data-toggle="confirmation" data-on-confirm="deleteKurum" data-id="@e.KurumID" data-original-title="@e.KurumIsmi kurumunu silmek istediğinize emin misiniz?" class="btn btn-circle btn-icon-only btn-default">
				<i class="icon-trash"></i>
			</a>
		</td>
	</tr>
}
<script>
	$('[data-toggle="confirmation"]').confirmation({
		singleton: true
		
	});
</script>