@model List<Gcp.Web.Models.Araclar>
@{
	Layout = null;
}

@foreach (var p in Model)
{
	<tr role="row" class="odd" data-id="@p.AracID">
		<th class=" control"></th>
		<td class="sorting_1">@p.Marka.MarkaAd</td>
		<td>@p.Marka.Model</td>
		<td>@p.Personel.PersonelAd @p.Personel.PersonelSoyad</td>
		<td style="display: none;">@p.AraclarDetay.AlinisTarihi</td>
		<td style="display: none;">@p.AraclarDetay.BakimTarihi</td>
		<td style="display: none;">@p.AraclarDetay.MuayeneTarihi</td>
		@*<td>@p.Maas TL</td>
		<td style="display: none;">@p.Egitim.EgitimAd</td>*@
		<td>
			<a data-toggle="modal" data-target="#guncelleKayit" data-id="@p.AracID" onclick="getArac(@p.AracID)" class="btn btn-circle btn-icon-only btn-default">
				<i class="icon-pencil"></i>
			</a>
			<a data-toggle="confirmation" data-on-confirm="deleteArac" data-id="@p.AracID" data-original-title="@p.Marka.MarkaAd aracını silmek istediğinize emin misiniz?" class="btn btn-circle btn-icon-only btn-default">
				<i class="icon-trash"></i>
			</a>
		</td>
	</tr>
}


