@model List<Gcp.Web.Models.Personel>
@{
    Layout = null;
}



@foreach (var p in Model)
{
    <tr role="row" class="odd" data-id="@p.PersonelID">
        <th class=" control"></th>
        <td class="sorting_1">@p.PersonelAd</td>
        <td>@p.PersonelSoyad</td>
        <td>@p.UnvanID</td>
        <td style="display: none;">@p.GirisTarihi</td>
        <td style="display: none;">@p.DogumTarihi</td>
        <td style="display: none;">@p.Vardiya</td>
        <td>@p.Maas</td>
        <td style="display: none;">@p.EgitimID</td>
        <td>

            <a data-toggle="modal"  data-target="#guncelleKayit" data-id="@p.PersonelID" onclick="getPersonel(@p.PersonelID)"  class="btn btn-circle btn-icon-only btn-default">
                <i class="icon-pencil"></i>
            </a>
            <a  data-toggle="confirmation" data-on-confirm="deletePersonel" data-id="@p.PersonelID" data-original-title="@p.PersonelID @p.PersonelAd @p.PersonelSoyad personelini silmek istediğinize emin misiniz?" class="btn btn-circle btn-icon-only btn-default">
                <i class="icon-trash"></i>
            </a>
        </td>
    </tr>
}

