@model List<Gcp.Web.Models.Personel>
@{
    ViewBag.Title = "Personel Index";
    Layout = "~/Views/Shared/_panelLayout.cshtml";
}
@section pagescript
{
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/pages/scripts/table-datatables-managed.min.js" type="text/javascript"></script>
}
@section pagestyle{

    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
}

@*<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">Personeller</span>
                </div>
                @*<div class="actions">
                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                            <label class="btn btn-transparent red btn-outline btn-circle btn-sm active">
                                <input type="radio" name="options" class="toggle" id="option1">Actions</label>
                            <label class="btn btn-transparent red btn-outline btn-circle btn-sm">
                                <input type="radio" name="options" class="toggle" id="option2">Settings</label>
                        </div>
                    </div>*@
@*</div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <button id="sample_editable_1_new" class="btn green">
                            Add New
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="btn-group pull-right">
                        <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">
                            Tools
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;"> Print </a>
                            </li>
                            <li>
                                <a href="javascript:;"> Save as PDF </a>
                            </li>
                            <li>
                                <a href="javascript:;"> Export to Excel </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
            <thead>
                <tr>
                    <th> ID</th>
                    <th> Ad  </th>
                    <th>Soyad</th>
                    <th> Unvan </th>
                    <th> Eğitim </th>
                    <th> Vardiya </th>
                    <th> Giriş Tarihi </th>
                    <th> Çıkış Tarihi </th>
                    <th> Çalışma Durumu </th>*@
@*@*<th> Çalışma Durumu </th>*@
@*<th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>*@
@*<tr ng-repeat="p in personel">
    <td class="sorting_1"> {{p.PersonelID}} </td>
    <td> {{p.PersonelAd}} {{p.PersonelSoyad}} </td>
    <td> {{p.UnvanAd}} </td>
    <td> {{p.EgitimAd}} </td>
    <td> {{p.VardiyaAd}} </td>
    <td> {{p.GirisTarihi}} </td>
    <td> {{p.CikisTarihi}} </td>
    <td> {{p.Amir}} </td>
    @*<td> {{p.CalismaDurumu}} </td>*@

@*<td>
        <a class="edit" id="edit" href="javascript:;"> Edit </a>
    </td>
    <td>
        @*<a class="delete" href="javascript:;"> Delete </a>*@
@*</td>
    </tr>*@

@*<tr>
    <td class="sorting_1"> @personel.PersonelID </td>
    <td> @personel.PersonelAd</td>
    <td>@personel.PersonelSoyad </td>
    <td> @personel.UnvanID </td>
    <td> @personel.EgitimID </td>
    <td> @personel.VardiyaID </td>
    <td> @personel.GirisTarihi </td>
    <td> @personel.CikisTarihi </td>
    <td> @personel.CalismaDurumu </td>*@@*@
    @*<td> {{p.CalismaDurumu}} </td>*@

    @*<td>
                                <a class="edit" id="edit" href="javascript:;"> Edit </a>
                            </td>
                            <td>
                                <a class="delete" href="javascript:;"> Delete </a>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>*@
    <!-- END EXAMPLE TABLE PORTLET-->
    @*</div>*@
    @*</div>*@



    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase"> Individual column searching (select inputs)</span>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                            <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                <input type="radio" name="options" class="toggle" id="option1">Actions
                            </label>
                            <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                <input type="radio" name="options" class="toggle" id="option2">Settings
                            </label>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <button id="sample_editable_1_2_new" class="btn sbold green">
                                        Add New
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="btn-group pull-right">
                                    <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Tools
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-print"></i> Print
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-file-pdf-o"></i> Save as PDF
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-file-excel-o"></i> Export to Excel
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sample_1_2_wrapper" class="dataTables_wrapper">
                        <div class="row"><div class="col-md-6 col-sm-6"><div class="dataTables_length" id="sample_1_2_length"><label>Show <select name="sample_1_2_length" aria-controls="sample_1_2" class="form-control input-sm input-xsmall input-inline"><option value="5">5</option><option value="15">15</option><option value="20">20</option><option value="-1">All</option></select></label></div></div><div class="col-md-6 col-sm-6"><div id="sample_1_2_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control input-sm input-small input-inline" placeholder="" aria-controls="sample_1_2"></label></div></div></div><div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable" id="sample_1_2" role="grid" aria-describedby="sample_1_2_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="




                                                " style="width: 60px;">
                                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                <input type="checkbox" class="group-checkable" data-set="#sample_1_2 .checkboxes">
                                                <span></span>
                                            </label>
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="sample_1_2" rowspan="1" colspan="1" aria-label=" Username : activate to sort column descending" style="width: 125px;" aria-sort="ascending"> Username </th>
                                        <th class="sorting" tabindex="0" aria-controls="sample_1_2" rowspan="1" colspan="1" aria-label=" Email : activate to sort column ascending" style="width: 191px;"> Email </th>
                                        <th class="sorting" tabindex="0" aria-controls="sample_1_2" rowspan="1" colspan="1" aria-label=" Status : activate to sort column ascending" style="width: 100px;"> Status </th>
                                        <th class="sorting" tabindex="0" aria-controls="sample_1_2" rowspan="1" colspan="1" aria-label=" Joined : activate to sort column ascending" style="width: 100px;"> Joined </th>
                                        <th class="sorting" tabindex="0" aria-controls="sample_1_2" rowspan="1" colspan="1" aria-label=" Actions : activate to sort column ascending" style="width: 103px;"> Actions </th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr><th rowspan="1" colspan="1"> </th><th rowspan="1" colspan="1"><select class="form-control input-sm"><option value="">Select</option><option value="coop">coop</option><option value="foopl">foopl</option><option value="fop">fop</option><option value="goop">goop</option><option value="kop">kop</option><option value="looper">looper</option><option value="pppol">pppol</option><option value="restest">restest</option><option value="shuxer">shuxer</option><option value="tes21t">tes21t</option><option value="test">test</option><option value="toop">toop</option><option value="toopl">toopl</option><option value="user1wow">user1wow</option><option value="userwow">userwow</option><option value="vopl">vopl</option><option value="wap">wap</option><option value="weep">weep</option></select></th><th rowspan="1" colspan="1"> </th><th rowspan="1" colspan="1"> </th><th rowspan="1" colspan="1"> </th><th rowspan="1" colspan="1"> </th></tr>
                                </tfoot>
                                <tbody>

                                    @foreach (var p in Model)
                                    {
                                        <tr class="gradeX odd" role="row">
                                            <td>
                                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                    <input type="checkbox" class="checkboxes" value="1">
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td class="sorting_1"> @p.PersonelID </td>
                                            <td class="">
                                                <a href="mailto:userwow@gmail.com"> @p.PersonelAd </a>
                                            </td>
                                            <td class="">
                                                <span class="label label-sm label-info"> @p.PersonelSoyad </span>
                                            </td>
                                            <td class="center"> 12.12.2011 </td>
                                            <td class="">
                                                <div class="btn-group">
                                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                        Actions
                                                        <i class="fa fa-angle-down"></i>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="icon-docs"></i> New Post
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="icon-tag"></i> New Comment
                                                            </a>
                                                        </li>
                                                        
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>}
                                </tbody>
                            </table>
                        </div><div class="row">
                            
                            <div class="col-md-5 col-sm-5">
                                <div class="dataTables_info" id="sample_1_2_info" role="status" aria-live="polite">Showing 1 to 5 of 25 records</div>
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_2_paginate">
                                    <ul class="pagination" style="visibility: visible;"><li class="prev disabled">
                                            <a href="#" title="First"><i class="fa fa-angle-double-left"></i></a>
                                        </li>
                                    <li class="prev disabled"><a href="#" title="Prev"><i class="fa fa-angle-left"></i></a>
                                    </li>
                                        <li class="active"><a href="#">1</a>
                                        </li>
                                        <li><a href="#">2</a>
                                        </li>
                                    <li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li class="next"><a href="#" title="Next"><i class="fa fa-angle-right"></i></a></li><li class="next"><a href="#" title="Last"><i class="fa fa-angle-double-right"></i></a></li></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>